<%- include("./partials/header") %>

<section id="about">
  <h1>About</h1>
  <p>This project was made for practice purposes using Nodejs, Express, MongoDB, JWT and EJS.</p>
  <a href="https://github.com/ezzep66/shopping-cart">View in GitHub</a>
</section> 

<%- include("./partials/footer") %>